/* src/styles/input.css */
@import 'tailwindcss';
@plugin "daisyui";

.container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: auto;
  padding: auto;
  justify-content: space-around;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.quiz-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#quiz-progress {
  padding: 1rem 0;
}

#quiz-content {
  flex-grow: 1;
  padding-bottom: 2rem;
}

#quiz-footer {
  padding: 1rem;
  text-align: center;
}

/* .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
} */

/* .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 250px;
  height: 350px;
  transition: transform 0.3s ease;
} */

/* CSS Code */
.mySwiper {
  width: 100%;
  padding: 40px 0;
}

.swiper-slide {
  width: 70%;
  height: 200px;
  background: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
